<div class="wrapper-div" [style.flex-direction]="getDirection()">
    <div class="text-wrapper">
      <div class="headline-wrapper">
        <h1>{{headline}}</h1>
        <!-- <img *ngIf="innerWidth >= 768" class="headline-image"[src]="headlineImagePath"/> -->
        <img class="headline-image"[src]="headlineImagePath"/>
      </div>
      <div>
        {{text}}
      </div>
      <div class="quote" *ngIf="quote">
        {{quote}}
      </div>
    </div>
    <div class="background-image">
      <img class="src-image" [src]="imagePath"/>
      <img src="assets/PYS-landing-imageelement.svg" class="landing-element" [style.transform] = "getTransformString()"/>
    </div>
  </div>
